
<div class="row">
  <div class="col-xs-6">
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-body">

        <form  #addForm="ngForm" (ngSubmit)="onSubmit(addForm)">
          <div class="bg-light">
<!--            <div >-->

<!--              <div class="alert alert-success" role="alert" *ngIf="showSuccess">-->
<!--                Success-->
<!--              </div>-->
<!--              <div class="alert alert-danger" role="alert" *ngIf="showError">-->
<!--                {{error}}-->
<!--              </div>-->

<!--            </div>-->
             <app-display-message [showChildSuccess]="showSuccess" [showChildError]="showError" [errorChild]="error"  [successChild]="success"></app-display-message>
              <div class="form-group">
                <label for="crust">Crust</label>
                <input
                  type="text"
                  class="form-control"
                  id="crust"
                  name="crust"
                  required
                  [(ngModel)]="orderData.Crust"
                  maxlength="20"

                />
              </div>


              <div class="form-group">
                <label for="flavor">Flavor</label>
                <input
                  type="text"
                  class="form-control"
                  id="flavor"
                  name="flavor"
                  required
                  [(ngModel)]="orderData.Flavor"
                  maxlength="30"
                />
              </div>


              <div class="form-group">
                <label for="orderId">Order ID</label>
                <input
                  readonly
                  type="number"
                  class="form-control"
                  id="orderId"
                  name="orderId"

                  [(ngModel)]="orderData.Order_ID"

                />
              </div>

              <div class="form-group">
                <label for="sizeInfo">Size</label>
                <input
                  type="text"
                  class="form-control"
                  id="sizeInfo"
                  name="sizeInfo"
                  required
                  [(ngModel)]="orderData.Size"
                  maxlength="1"
                />
              </div>

              <div class="form-group">
                <label for="tableNo">Table Number</label>
                <input
                  type="number"
                  class="form-control"
                  id="tableNo"
                  name="tableNo"
                  required
                  [(ngModel)]="orderData.Table_No"

                />
              </div>

              <button class="btn btn-primary" type="submit" [disabled]="!addForm.valid" >Submit</button>



          </div>
        </form>

      </div>
    </div>
  </div>
  </div>


